<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>    
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />    
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="LogStash.UDPAddress" value="azr-TMDEV" />
    <add key="LogStash.UDPPort" value="5000" />
    
    <add key="Timer.Interval" value="60000" />

    <add key="Settings.File" value="Settings.txt" />
    
    <add key="SqlConn" value="Data Source=AZR-Devsql1;Initial Catalog=Hub;Trusted_Connection=True;Connect Timeout=45;Application Name=Logging.Runner;Encrypt=True;TrustServerCertificate=True" />
    <!--<add key="SqlConn" value="Data Source=AZR-Prdsql;Initial Catalog=Hub;Trusted_Connection=True;Connect Timeout=45;Application Name=Logging.Runner;Encrypt=True;TrustServerCertificate=True" />-->    
  </appSettings>
  <nlog autoReload="true" throwExceptions="false" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="appName" value="Logging.Runner" />
    <targets>
      <!--<target name="MainDebugger" xsi:type="Debugger"
             layout="[${date:format=yyyy.MM.dd HH\:mm\:ss\:fff:fixedLength=true}] | ${level:fixedLength=true:upperCase=true:padding=7} | ${logger:fixedLength=true} | ${threadname:fixedLength=true}(${threadid}) | ${message} | ${exception:format=message,type,method,stackTrace}" />
      <target name="MainConsole" xsi:type="Console" 
              layout="[${date:format=yyyy.MM.dd HH\:mm\:ss\:fff:fixedLength=true}] | ${level:fixedLength=true:upperCase=true:padding=7} | ${logger:fixedLength=true} | ${threadname:fixedLength=true}(${threadid}) | ${message} | ${exception:format=message,type,method,stackTrace}" />-->
      <target name="MainLogFile" xsi:type="File" keepFileOpen="true" archiveNumbering="Rolling" archiveAboveSize="5024000" layout="${date:format=yyyy.MM.dd HH\:mm\:ss\:fff:fixedLength=true} | ${level:fixedLength=true:upperCase=true:padding=7} | ${logger:fixedLength=true} | ${threadname:fixedLength=true}(${threadid}) | ${message}${exception:format=ToString}" fileName="Logs\${ProcessName}-[${windows-identity:userName=true:domain=false:lowercase=true}-${MachineName}].log" />
      <target xsi:type="Network" name="logstash" address="udp://azr-TMDEV:5000">
        <layout xsi:type="JsonLayout">
          <attribute name="machinename" layout="${machinename}" />
          <attribute name="appName" layout="${appName}" />
          <attribute name="user" layout="${windows-identity:userName=true:domain=false:lowercase=true}" />
          <attribute name="date" layout="${date:format=yyyy.MM.dd HH\:mm\:ss\:fff zzz:fixedLength=true}" />
          <attribute name="level" layout="${level:fixedLength=true:upperCase=true}"/>
          <attribute name="message" layout="${message}" />
          <attribute name="logger" layout="${logger:fixedLength=true}" />
          <attribute name="threadname" layout="${threadname:fixedLength=true}(${threadid})" />
          <attribute name="exception" layout="${exception:format=tostring}" />
        </layout>
      </target>
      <target name="console" xsi:type="Console" layout="${level:uppercase=true}|${message}${exception:format=ToString}" />
    </targets>
    <rules>
      <logger name="*" writeTo="MainLogFile" minlevel="Debug"  />
      <logger name="*" writeTo="logstash" minlevel="Warn" />
      <logger name="*" writeTo="console" minlevel="Info" />
    </rules>
  </nlog>
</configuration>