USE [Hub];
GO
/*
Create Event Definition Table
*/
CREATE TABLE [dbo].[EventDefinition](
	[Event_ID] [int] NOT NULL,
	[Event_Name] [varchar](100) NULL,
	[Event_Description] [varchar](255) NULL,
	[Event_Name_Old] [varchar](120) NULL	
) ON [PRIMARY];

GO

--Create Index
CREATE UNIQUE CLUSTERED INDEX [ClusteredIndex-20181217-113156] ON [dbo].[EventDefinition]
(
	[Event_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]




GO
INSERT [dbo].[EventDefinition] ([Event_Name], [Event_Description], [Event_Name_Old], [Event_ID]) VALUES (N'Resident Notice to Move Out Received', N'Resident has been given notice to move out.', N'60 day notice sent to resident', 1)
GO
INSERT [dbo].[EventDefinition] ([Event_Name], [Event_Description], [Event_Name_Old], [Event_ID]) VALUES (N'Assign Project Manager ', N'Assign Project Manager', NULL, 2)
GO
INSERT [dbo].[EventDefinition] ([Event_Name], [Event_Description], [Event_Name_Old], [Event_ID]) VALUES (N'Corporate Renewals', N'Corporate renewals started.  When completed that means tenant has resigned lease and turnover has been cancelled.', N'Lease Renewal received', 3)
GO

