<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://turnaroundazurefunctionapp-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/bd07bd09-5b23-4701-9ddb-b8de9bf1802d/resourceGroups/D365IntegrationTest/providers/Microsoft.Web/sites/TurnAroundAzureFunctionApp-Test</ResourceId>
    <UserName>$TurnAroundAzureFunctionApp-Test</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://turnaroundazurefunctionapp-test.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>